@use "../../styles/colors" as colors;

.hero {
  width: 100%;
  position: relative;
  color: colors.$color-white;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to top, white, rgba(0, 0, 0, 0));
    height: 17.5%;
  }

  &__background {
    width: 100%;
    height: auto;
  }

  &__top-layout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-top: 5.2rem;
  }

  &__hedaer {
    height: 4.4rem;
  }

  &__title {
    width: 112.8rem;
    max-width: 100%;
    margin: auto;
    text-align: center;

    h1 {
      font-weight: 700;
      font-size: 8.2rem;
      line-height: 9.6rem;
      margin-top: 8.4rem;
    }

    p {
      font-size: 2.4rem;
      max-width: 58.4rem;
      margin: 0 auto;
      margin-top: 2.4rem;
      line-height: 150%;
    }
  }

  &__search-form {
    width: 46.4rem;
    margin: auto;
    margin-top: 4rem;
  }

  &__tooltip {
    position: absolute;
  }

  &__tooltip1 {
    right: 7%;
    top: 56.2%;
  }

  &__tooltip2 {
    left: 6%;
    top: 38.5%;
  }

  &__tooltip3 {
    left: 11.2%;
    top: 55.9%;
  }
}

@media only screen and (max-width: 1366px) {
  .hero {
    &__title {
      max-width: 70%;
      h1 {
        font-weight: 700;
        font-size: 4.2rem;
        line-height: initial;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  html .hero {
    &__tooltip {
      display: none;
    }

    &__title {
      p {
        display: none;
      }
    }

    &__background {
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: 576px) {
  html .hero {
    &__search-form {
      width: auto;
      
      margin-left:1rem;
      margin-right:1rem;

      font-size: 0; 

    }
  }
}
