$color-white: white;
$color-black: #081323;
$color-gray: #828282;
$color-dark-gray: #4f4f4f;
$color-light-blue: #c1d0e4;
$color-gold: #f2c94c;

$gradient: linear-gradient(to right, #2af598, #009efd);
$gradient-footer: linear-gradient(to right, #566270, #283444);
