$color-white: white;
$color-black: #081323;
$color-gray: #828282;
$color-dark-gray: #4F4F4F;
$color-light-blue: #C1D0E4;
$color-gold: #F2C94C;

$gradient: linear-gradient(to right, #2AF598, #009EFD);
$gradient-footer: linear-gradient(to right, #566270, #283444);