.best-seller {
  & > * {
    display: grid;
    grid-template-columns: 37rem 1fr;
  }

  &__header {
    font-weight: 500;
    font-size: 6.4rem;
    line-height: 8rem;
    align-self: flex-end;
  }

  &__link {
    margin-top: 2rem;
    margin-left: 0.4rem;
    order: 2;
    align-self: flex-start;
  }

  &__product-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    grid-row: span 2;
  }
}

@media only screen and (max-width: 1366px) {
  html .best-seller {
    padding: 10rem;
    margin-top: 0px;

    & > * {
      display: flex;
      flex-direction: column;
    }

    &__link {
      width: auto;
      text-align: center;
      align-self: center;
    }

    &__header {
      top: 0%;
      align-self: center;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 576px) {
  html .best-seller {
    padding: 10rem 0;
  }
}
