@use "../../styles/colors" as colors;

.stars-rating {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;

  &__rate-percent {
    position: absolute;
    top: 1px;
    left: 0.5px;
    bottom: 1px;
    background-color: colors.$color-gold;
    z-index: 0;
  }

  &__item {
    width: 101%;
    height: 100%;
    background-color: white;

    -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(#000), to(#000)),
      url(/src/assets/star.svg);

    -webkit-mask-image: linear-gradient(to right, #000, #000),
      url(/src/assets/star.svg);
    mask-image: -webkit-gradient(linear, left top, right top, from(#000), to(#000)), url(/src/assets/star.svg);
    mask-image: linear-gradient(to right, #000, #000), url(/src/assets/star.svg);

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: 103%, 80%;
    mask-size: 103%, 80%;
    -webkit-mask-composite: subtract;
    mask-composite: subtract;
    z-index: 1;
  }
}
