@use "../../styles/colors" as colors;

.gradient-button {
  border: none;
  background: colors.$gradient;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  &:hover {
    background: linear-gradient(to right, #2af598, #009efd);
  }
}
