.header {
  display: flex;
  align-items: center;
  width: 100%;

  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__company-name {
    margin-left: 0.8rem;
    font-family: "Inter", sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
  }

  &__chart {
    top: 0.3rem;
    right: 0.7rem;
  }
}


@media only screen and (max-width: 992px) {
  .header {
    &__row {
      justify-content: normal;
      position: static;
    }

    &__chart {
      margin-left: auto;
      margin-right: 4rem;
    }
  }
}
