@use "../../styles/colors" as colors;

.service {
  &__row {
    padding: 0 0.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  &__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 8.4rem;
    height: 8.4rem;
  }

  &__text {
    white-space: nowrap;
    font-weight: 400;
    margin: 0.8rem 0 0 2.4rem;
  }

  &__title {
    font-size: 3.2rem;
  }

  &__description {
    font-size: 2rem;
    color: colors.$color-gray;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 1366px) {
  .service {
    &__row {
      display: grid;
      width: auto;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      justify-items: start;
    }

    &__item {
      margin-bottom: 2rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &__item:last-child {
      margin-bottom: 0rem;
    }
  }
}
